[Unit]
Description=Electroacoustic Playground Dexed JACK wiring
After=eap-jack.service eap-supercollider.service eap-dexed.service
Requires=eap-jack.service eap-supercollider.service
Wants=eap-dexed.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=we
Group=audio
Environment=JACK_NO_AUDIO_RESERVATION=1
LimitMEMLOCK=infinity
ExecStart=/usr/local/bin/eap-connect-dexed-jack 80 0.5

[Install]
WantedBy=multi-user.target
