[Unit]
Description=Electroacoustic Playground SuperCollider JACK wiring
After=eap-supercollider.service
Requires=eap-supercollider.service
PartOf=eap-supercollider.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=we
Group=audio
Environment=JACK_NO_AUDIO_RESERVATION=1
ExecStartPre=/bin/sleep 6
ExecStart=/usr/local/bin/eap-connect-sc-jack 60 0.5

[Install]
WantedBy=multi-user.target
