[Unit]
Description=Electroacoustic Playground console ready display
After=getty@tty1.service eap-jack.service eap-supercollider.service eap-launchpad.service
Wants=getty@tty1.service eap-jack.service eap-supercollider.service eap-launchpad.service

[Service]
Type=simple
ExecStart=/usr/local/bin/eap-console-status /dev/tty1
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
